# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Eclipse / STS
.project
.classpath
.settings/

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Application secrets
application-local.properties
application-prod.properties

# Environment variables
.env

target/
src/main/resources/application.properties